@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

:root{
    --text-color: #615F4E;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}