@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

:root{
    --text-color: #615F4E;
    --primary-color: #FAF52E;
    --light-primary-color: #FCF964;
    --dark-text-color: #403E34;
    --light-text-color: #B1B0A0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--dark-text-color);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track{
    background-color: var(--light-text-color);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
}

.footer,
#main-doc,
.title-page{
    padding: 1em 2em;
}

.link-section{
    color: var(--dark-text-color);
    background-color: var(--primary-color);
}

.title-page{
    background-color: var(--primary-color);
    min-height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-flow: column-reverse;
}
.header{
    font-size: 1.32em;
    background-color: var(--dark-text-color);
    color: var(--light-text-color);
    padding: 0 0.2em;
    margin: 0.5em 0;
    text-align: center;
}

.menu-icon{
    cursor: pointer;
    font-size: 24px;
    flex-shrink: 1;
}
.menu{
    position: absolute;
    top:  112px;
    left: 0;
    background-color: var(--text-color);
    list-style: none;
    display: none;
}

.menu li{
    margin: 0 0 0.2em;
}

.menu li a{
    box-sizing: border-box;
    padding: 1em 2em;
    color: var(--light-text-color);
    background-color: var(--dark-text-color);
    border-left: 0.2em solid var(--text-color);
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.menu li a:hover{
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
}

.display-block{
    display: block;
}

.main-section{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main-header{
    font-size: 1.5em;
    margin: 1em 0;
    padding: 0 0.2em;
    width: max-content;
    font-weight: bold;
    background-color: var(--text-color);
    color: var(--light-primary-color);
}

.paragraph{
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

.section-list{
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding: 0 2em;
}

.main-list-element{
    margin: 1em 0;
}

.sub-title{
    font-size: 1.3em;
    margin: 1em 0;
    font-weight: bold;
}

.code-area{
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
    display: inline-block;
    background-color: var(--light-primary-color);
    border-left: 0.3em solid var(--text-color);
    font-size: 1.1em;
    margin: 1em 0 1.5em;
}

.footer{
    background-color: var(--dark-text-color);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 500px){
    .title-page{
        flex-direction: row;
        justify-content: space-between;
    }

    .header{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px){

    #navbar{
        background-color: var(--text-color);
        height: 100vh;
        overflow-y: auto;
        width: 35%;
        position: fixed;
        z-index: 1;
    }
    #main-doc{
        float: right;
        width: 58.5%;
    }

    .footer{
        float: right;
        clear: both;
        width: 60%;
        text-align: center;
    }

    .menu-icon{
        display: none;
    }

    .menu{
        display: initial;
        position: initial;
        top: initial;
        left: initial;
    }

}
