@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --link-color: #274775;
    --orange-color: #FF7000;
    --green-color: #1ED655;
    --text-dark-color: #272F27;
    --text-color: #3D4A3D;
    --color-footer: #001B2B;
    --light-blue-background: #15EDAB;
    --light-blue-color: #E2F1FF;
    --light-gray-color: #647864;
    --gray-color: #C4C4C4;
}

body{
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    color: var(--text-color);
}

.white-background{background-color: #fff}
.light-blue-background{background-color: var(--light-blue-background)}
.dark-blue-background{background-color: var(--link-color)}
.green-background{background-color: var(--green-color)}
.dark-background{background-color: var(--color-footer)}

.container,
.header,
.footer{
    /*Change to 1440px after finishing everthing*/
    max-width: 1200px;
    padding: 1em 2em;
    margin: 0 auto;
}

.container{
    height: auto;
}

.position-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.position-relative{
    position: relative;
}

.margin-top-fixed{
    margin-top: 80px;
}

.header{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.green-bottom-border{
    border-bottom: 3px solid var(--green-color);
}

.logo-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0.2em 0;
}

.nav-bar-header ul{
    list-style: none;
}

.nav-bar-header li{
    display: inline;
    margin: 1em 0.2em;
}

.nav-bar-header a{
    color: var(--link-color);
    transition: 0.5s;
    text-decoration-color: transparent;
    font-size: 1em;
}

.nav-bar-header a:hover{
    color: var(--orange-color);
    text-decoration: underline;
}


.title,
.description{
    padding: 1em;
    text-align: center;
}

.title{
    font-size: 2em;
    font-weight: bold;
}
.description{
    font-size: 1.5em;
    font-weight: normal;
}

.banner-area{
    padding: 4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-area a{
    text-decoration: none;
}

.bt-primary{
    background-color: var(--orange-color);
    color: #ffffff;
    border: none;
    padding: 1em 2.5em;
    display: block;
    margin: 2em auto;
    cursor: pointer;
    transition: 0.5s;
}

.bt-primary:hover{
    background-color: rgba(0,0,0,0.5);
}

.green-shoe{
    max-width: 45%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%,0);
}

.display-flex{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.features-area{
    /* background-color: red; */
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}

.circle1{
    top: 90%;
    left: 15%;
    background-color: rgba(30, 214, 85, 0.3);
}

.circle2,
.circle3{
    height: 25px;
    width: 25px;
    background-color: rgba(21, 237, 171, 0.3);;
}

.circle2{
    top: 85%;
    left: 40%;
}

.circle3{
    top: 13%;
    left: 70%;
}


.sub-title,
.description-text,
.p-text{
    padding: 1em 0;
}

.sub-title{
    font-size: 1.5em;
    color: var(--green-color);
    font-weight: bold;
}

.description-text{
    font-size: 1.25em;
    font-weight: normal;
}

.p-text{
    font-size: 1.1em;
    font-weight: normal;
}

.signup-area .sub-title{
    color:var(--text-dark-color);
    text-align: center;
}

.height-screen{
    min-height: 100vh;
}

.input-email{
    width: 100%;
    box-sizing: border-box;
    padding: 0.7em 1em;
    font-size: 1.2em;
    color: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    margin: 2em 0;
}

.design-area .sub-title{
    text-align: center;
}

.design-area .p-text{
    color: var(--light-blue-color);
    margin-bottom: 2em;
    text-align: center;
}
#video{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


/*Pricing CSS*/
.pricing-area{
    display: flex;
    flex-direction: column;
    height: auto;
}

.pricing-area .sub-title{
    align-self: center;
}


.card{
    max-width:768px;
    border: 1px solid var(--gray-color);
    padding: 1em 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray-color{
    background-color: var(--light-gray-color);
}

.card a{
    text-decoration: none;
}

.primary-card{
    background-color: var(--light-blue-background);
    border: none;
}

.title-card,
.price-area,
.card-list{
    margin: 1em 0;
}

.title-card{
    font-size: 1.5em;
    text-align: center;
}

.price-area{
    font-size: 2em;
}

.card-list{
    list-style: none;
}

.card-list li{
    text-align: center;
}

/*Footer CSS*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    clear: both;
}

.footer .logo-img{
    opacity: 0.5;
    filter: grayscale(50%);
}

.nav-bar-footer ul{
    list-style: none;
    margin-top: 0.5em;
}

.nav-bar-footer li{
    display: inline;
    padding: 0 0.2em;
}

.nav-bar-footer a{
    color: var(--text-color);
    transition: 0.5s;
    text-decoration-color: transparent;
    font-size: 1em;
}

.copyright{
    padding: 0.8em;
    font-size: 0.9em;
}

.nav-bar-footer a:hover{
    color: var(--light-blue-color);
    text-decoration: underline;
}

@media(min-width: 600px){
    .header{
        flex-direction: row;
        justify-content: space-between; 
    }
    .logo-img{
        max-width: 80px;
        max-height: 80px;
    }
    .nav-bar-header li{
        margin-left: 2em;
    }
    
    .nav-bar-header a{
        font-size: 1.3em;
    }

    .title{
        font-size: 3em;
    }

    .sub-title{
        font-size: 2em;
    }

    .description-text{
        font-size: 1.5em;
    }

    .p-text{
        font-size: 1.3em;
    }

    
    .container{
        min-height: 100vh;
    }

    .banner-area{
        min-height: 80vh;
    }

    .circle1{
        width: 100px;
        height: 100px;
        top: 75%;
    }
    
    .circle2,
    .circle3{
        width: 50px;
        height: 50px;
    }

    .circle2{
        top: 75%;
    }
    
    .circle3{
        top: 10%;
    }

    .banner-area{
        padding: 0;
    }
    
}

@media(max-width: 440px){
    .green-shoe{
        bottom: -2.4em;
    }
}

@media(min-width: 760px){
    .circle3{
        top: 25%;
    }
}


@media(min-width: 768px){
    .green-shoe{
        max-width: 30%;
        bottom: -2.4em;
    }

    .pricing-area{
        display: grid;
        grid-template-areas: 
            ". . header header header . ."
            "card1 card1 card2 card2 card2 card3 card3";
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }

    .pricing-area .sub-title{
        grid-area: header;
        justify-self: center;
        padding: 0;
        margin: 0;
    }
    
    .card1{
        grid-area: card1;
    }

    .card2{
        grid-area: card2;
        transform: scale(1.05);
        
    }

    .card3{
        grid-area: card3;
    }
    
}

@media(min-height: 900px){
    .green-shoe{
        max-width: 60%;
    }
}