@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --link-color: #274775;
    --orange-color: #FF7000;
    --green-color: #1ED655;
    --text-dark-color: #272F27;
    --text-color: #3D4A3D;
    --color-footer: #001B2B;
    --light-blue-background: #15EDAB;
    --light-blue-color: #E2F1FF;
    --light-gray-color: #647864;
    --gray-color: #C4C4C4;
}

body{
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    color: var(--text-color);
}

.white-background{background-color: #fff}
.light-blue-background{background-color: var(--light-blue-background)}
.dark-blue-background{background-color: var(--link-color)}
.green-background{background-color: var(--green-color)}
.dark-background{background-color: var(--color-footer)}

.container,
.header,
.footer{
    /*Change to 1440px after finishing everthing*/
    max-width: 1000px;
    padding: 1rem 2rem;
    margin: 0 auto;
}

.container{
    height: 100vh;
}

.position-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.position-relative{
    position: relative;
}

.margin-top-fixed{
    margin-top: 100px;
}

.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.green-bottom-border{
    border-bottom: 3px solid var(--green-color);
}

.logo-img{
    max-width: 90px;
    max-height: 90px;
    padding: 0.5rem;
    cursor: pointer;
}

.nav-bar-header ul{
    list-style: none;
}

.nav-bar-header li{
    display: inline;
}

.nav-bar-header a{
    padding: 0 1rem;
    color: var(--link-color);
    transition: 0.5s;
    text-decoration-color: transparent;
    font-size: 1.2rem;
}

.nav-bar-header a:hover{
    color: var(--orange-color);
    text-decoration: underline;
}


.title,
.description{
    padding: 2rem;
}

.title{
    font-size: 4.5rem;
    font-weight: 700;
}
.description{
    font-size: 2rem;
}
.banner-area a{
    text-decoration: none;
}
.bt-primary{
    background-color: var(--orange-color);
    color: #ffffff;
    border: none;
    padding: 12px 32px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.green-shoe{
    max-width: 100%;
    position: absolute;
    bottom: -50;
    right: 50%;
    transform: translate(50%,0);
}

.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-area{
    margin-top: 3rem;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.circle1{
    top: 80%;
    left: 15%;
    background-color: rgba(30, 214, 85, 0.6);
}

.circle2,
.circle3{
    height: 50px;
    width: 50px;
    background-color: rgba(21, 237, 171, 0.6);;
}

.circle2{
    top: 75%;
    left: 40%;
}

.circle3{
    top: 18%;
    left: 70%;
}


.sub-title,
.description-text,
.p-text{
    padding: 1rem 0;
}

.sub-title{
    font-size: 2rem;
    color: var(--green-color);
    font-weight: 700;
}

.description-text{
    font-size: 1.7rem;
    font-weight: normal;
}

.p-text{
    font-size: 1.2rem;
    font-weight: 400;
}

.signup-area .sub-title{
    color:var(--text-dark-color);
    text-align: center;
}

.input-email{
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    color: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    margin: 1rem 0 2rem 0;
}

.design-area .sub-title{
    text-align: center;
}

.design-area .p-text{
    color: var(--light-blue-color);
    margin-bottom: 2rem;
    text-align: center;
}
.video-area video{
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .logo-img{
    opacity: 0.3;
    cursor: pointer;
}

.nav-bar-footer ul{
    list-style: none;
}

.nav-bar-footer li{
    display: inline;
}

.nav-bar-footer a{
    padding: 0 1rem;
    color: var(--text-color);
    transition: 0.5s;
    text-decoration-color: transparent;
    font-size: 1rem;
}

.copyright{
    padding: 1rem;
    font-size: 0.9rem;
}

.nav-bar-footer a:hover{
    color: var(--light-blue-color);
    text-decoration: underline;
}

@media(max-width: 600px){
    .header{
        height: 170px;
        flex-direction: column;
        justify-content: center;
    }
    .logo-img{
        max-width: 80px;
        max-height: 80px;
    }
    .margin-top-fixed{
        margin-top: 170px;
    }
}


@media(max-width: 768px){
    .green-shoe{
        max-width: 50%;
        bottom: -30;
        right: 50%;
    }
    .title,
    .description{
        padding: 1.5rem 1rem;
    }
    .title{
        font-size: 3.5rem;
    }
    .description{
        font-size: 1.8rem;
    }
    .video-area video{
        max-width: 100%;
    }
    .circle1{
        max-width: 75px;
        max-height: 75px;
        top: 83%;
    }
    
    .circle2,
    .circle3{
        max-width: 35px;
        max-height: 35px;
    }

    .circle2{
        top: 83%;
    }
    
    .circle3{
        top: 13%;
    }
}